{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "globals": {
    "expect": true,
    "sinon": true
  },
  "plugins": ["react", "import"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "google",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  rules: {
    "linebreak-style": ["error", "windows"],
    "max-len": ["error", 120],
    "require-jsdoc": "off",
    "comma-dangle": "off",
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "ignore"
    }]
  }
}
