html,
body {
    height: 100%;
}

.flexbox-container {
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: center;
}
.fail {
    color: red;
}
.win {
    color: green;
}

.result-list {
    flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
}